/.idea/
/.idea_modules/
/bin/
/target/
/*.classpath
/.project
/*.dll
/server/target/
/client/target/
/common/target/
/client/OpenAL64.dll
/client/lwjgl64.dll
/testKeys
/.cache
/.history
